In [1]:
from Scripts.function import load_process

In [2]:
df = load_process("../data/raw/players_stats.csv")

In [4]:
df

,Name,Games Played,Points,Age,Birth_Place,Birthdate,Collage,Experience,Height,Position,Team,Weight,BMI
0,AJ Price,26,133,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,954,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,243,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,213,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,1156,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,Willie Green,52,306,34.0,us,"July 28, 1981",University of Detroit Mercy,11,190.0,SG,ORL,90.00,24.930748
484,Wilson Chandler,78,1085,28.0,us,"May 10, 1987",DePaul University,7,200.0,SF,DEN,101.25,25.312500
485,Xavier Henry,9,20,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,778,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,1143,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236

In [ ]:
df.d